
@charset "utf-8";

.footer { background-color: #fff; margin-top: 25px; overflow: hidden; }
.footer0 {padding-top: 30px;padding-bottom: 40px;}
.footer1_l { float: left;  width: 900px; min-height:152px; }
.footer_help { padding-top: 40px; position: relative;overflow: hidden;border-top: 1px solid #EAEAEA;}
.helpDL { float: left; padding: 0 34px 0 36px; _padding: 0 10px; _width: 150px; }
.helpDL h5 { color: #333; font-size: 17px; font-weight: normal; height: 31px;}
.helpDL dd { }
.helpDL dd a { color: #666; font-size: 12px; height: 22px; line-height: 22px; }
.footer1_r { position: absolute;top: 40px;right:40px; }
.footer1_r ul { }
.footer1_r ul li { float: left; width: 100px; margin-right: 20px; text-align: center; }
.footer1_r ul li h2 { color: #333333; font-size: 14px; font-weight: 600; height: 31px; }
.footer1_r ul li p { font-size: 14px; color: #666666; }

.w720 { width: 720px; margin: 0 auto; text-align:center;}
.footer_nav { border-top: 3px solid #F31425; overflow: hidden; margin-top: 45px; }
.footer_nav ul {margin-top: 22px; }
.footer_nav ul li {display:inline-block; height: 35px; line-height: 35px; padding-right:12px; *display:inline;*zoom:1;}
.footer_nav ul li a { font-size: 12px;  color: #fff; }
.footer_nav .line { padding-left: 14px;background: none; border-right: 1px solid #fff; }

.footer_bottom { background-color: #262626; }

.font_arial { color: #c8c8c8; }
.footer_bottom p { padding-top: 10px; text-align: center;  color: #C8C8C8; line-height:21px;}
.footer_bottom .footer_p { padding: 30px 0 40px 0; }

.footer0-li{float: left;width: 181px;text-align: center;}
.footer0-li i{color: #DF0010;font-size: 50px;}
.footer0_p1{color: #333;font-size: 17px;margin-top: -5px;font-weight: bold;}
.footer0_p2{color: #999;font-size: 15px;}
